<div class="webpub-favoriteStars-container webpub-favoriteStars-left">
  {{iconPlugin('favorite-v4', 'webpub-favoriteStars-icon webpub-favoriteStars-left-icon')}}
  {{iconPlugin('favorite-bold-v4', 'webpub-favoriteStars-icon webpub-favoriteStars-icon-checked
webpub-favoriteStars-left-icon')}}
</div>
<div class="webpub-favoriteStars-container webpub-favoriteStars-right">
  {{iconPlugin('favorite-v4', 'webpub-favoriteStars-icon webpub-favoriteStars-right-icon')}}
  {{iconPlugin('favorite-bold-v4', 'webpub-favoriteStars-icon webpub-favoriteStars-icon-checked
webpub-favoriteStars-right-icon')}}
</div>